<nav><h1>Nav</h1></nav>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias magni voluptatem temporibus, error cupiditate dolore omnis impedit ea et quam quis doloremque optio ducimus in cumque laboriosam quas totam nam!
<footer>Footer</footer>
